.products {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

.figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f5f0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  img {
    width: 270px;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
.figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  h4 {
    font-weight: 600;
    padding: 10px;
  }
}
.precios-container {
  display: flex;
  gap: 10px;
  align-items: baseline;
  padding: 0 0 10px 0;
  span {
    font-weight: 400;
    font-size: 18px;
    color: #656565;
  }
  span:first-child {
    color: #ff8126;
    font-size: 24px;
    font-weight: 600;
  }
}
.cart-items{
  margin: 30px auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(4,1fr) 100px auto;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
/* .cart-items{
  margin: 30px auto;
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
} */
.quitarTodos{
  color: #ff8126;
  background-color: #fff;
  padding: 0px;
  border: none;
}

@media (max-width: 768px){
  .cart-items{
    margin: 30px auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 60px repeat(2,1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
  
  }
}