nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
    gap: 15px;
   a{
    display: flex;
   }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0 20px;
        li{
            list-style: none;
            a{
                color: #212121;
            }
            a:hover{
                opacity: .5;
            }
        }
    }
    div {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        a{
            border: 1px solid #d4caca;
            border-radius: 500px;
            padding: 5px;
        }
        a:hover{
            opacity: .5;
        }
    }
}

.logo {
    width: 110px;
    padding: 15px;
  }
